<!DOCTYPE html>
<html>
  <head>
    <title>Boosted Forecaster</title>
    
    <meta charset="UTF-8">
    <meta name="description" content="Risk stratifies cancer patients using a machine learning survival model">
    <meta name="author" content="Xavier Orcutt">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" type="text/css" href="../static/css/mystyle.css"> 
    <script src="../static/scripts/myscripts.js"></script>
  </head>
  
  <body>
    <header>
      <h1>Boosted Forecaster</h1>
    </header>
    
    <p><em>Boosted Forecaster</em> is a webtool that provides overall survival estimates for patients with newly diagnosed metastatic cancer. It also provides survival estimates for novel cancer therapies based on a patient's risk and biomarker status.</p>

    <p>Risk is estimated using a cancer-specific gradient-boosted survival model. For more information see paper and <a href = "https://github.com/xavier-orcutt/rct_generalizability_flatiron">project code</a>.</p>
    
    <h2>Select cancer type:</h2>
    <form class="cancer_type">
      <input type="radio" name="cancer" value="lung" checked="checked"> Advanced NSCLC<br>
      <input type="radio" name="cancer" value="breast"> Metastatic Breast Cancer<br>
      <input type="radio" name="cancer" value="prostate"> Metastatic Prostate Cancer<br>
      <input type="radio" name="cancer" value="colorectal"> Metastatic Colorectal Cancer<br>
      <br>
      <input type="button" value="Next" onclick="redirectToForm()">
    </form>

  </body>
</html>